{% extends 'mainapp/base.html' %}
{% load widget_tweaks %}
{% block title %}Lisa kuulutus - Auto25, suurim valik uusi ja kasutatud sõidukeid Eestis{% endblock %}
{% block description %}Uue kuulutuse lisamine Auto25 portaali{% endblock %}
{% block keywords %}lisa postitus, foorum, autod, kuulutused, mark, mudel, ferrari, bmw, audi, lada{% endblock %}
{% block navbar %}
{% include 'mainapp/partials/normal_navbar.html' %}
{% endblock navbar %}
{% block content %}
<!--suppress XmlInvalidId -->

<div class="container graybg mt-4">

    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'warning'%}
    <div class="alert alert-warning" role="alert">
        {{ message }}
    </div>
    {% else %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

    <div class="col-md-3">
        <h3 class="mt-3">Lisa kuulutus</h3>
    </div>
    <hr>
    {% if user.is_authenticated %}
    <div class="col-lg-6">
        <form action="/uued" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
            {% if field.name == "pic" %}
            <div class="custom-file">
                <input type="file" name="pic" accept="image/*" class="custom-file-input" required="" id="id_pic">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            {% else %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}

            <div class="col-md-3 mt-3 pl-0">
                <button type="submit" class="btn btn-success mb-2">Sisesta uus kuulutus</button>
            </div>
            <br>
        </form>
    </div>
    {% endif %}
</div>

{% endblock content %}