<!DOCTYPE html >
<html lang="en">

<head>
    <title>Lisa kuulutus</title>
    <meta charset="UTF-8">
    <meta name="description" content="Adding new post to the website">
    <meta name="keywords" content="new post, user, car">
</head>

<body>
    {% extends 'mainapp/base.html' %}
    {% block content %}
    <div>
        <h3>Lisa kuulutus</h3>
        <!-- <form action="" method="post">
            <input type="text" placeholder="automark">
            <input type="text" placeholder="auto mudel">
            <input type="text" placeholder="hind">
        </form> -->
    </div>
    {% endblock content %}

</body>

</html>