{% extends 'mainapp/base.html' %}
{% block title %}Uus kuulutus{% endblock %}
{% block description %}Uue kuulutuse lisamine{% endblock %}
{% block navbar %}
{% include 'mainapp/partials/normal_navbar.html' %}
{% endblock navbar %}
{% block content %}
<div class="bg-light">
    <div class="container bg-white ">

        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'warning'%}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
        {% else %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}

        <div class="col-md-3">
            <h3>Lisa kuulutus</h3>
        </div>
        {% if user.is_authenticated %}
        <form action="/uued" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-md-3">
                    <label for="id_brand">Mis on teie automark?</label>
                    <input class="form-control" type="text" id="id_brand" placeholder="automark">
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-md-3">
                    <label for="id_model">Mis on teie auto mudel?</label>
                    <input class="form-control" type="text" id="id_model" placeholder="auto mudel">
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-md-3">
                    <label for="id_price">Mis on teie auto hind?</label>
                    <input class="form-control" type="number" id="id_price" placeholder="hind">
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-md-3">
                    <label for="id_year">Mis aastal on teie auto registreeritud?</label>
                    <input class="form-control" type="number" id="id_year" placeholder="hind">
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-md-3">
                    <label>Mis on teie auto käigukast?</label>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-primary" for="id_gear_box">
                            <input type="radio" name="options" id="id_gear_box" autocomplete="off" checked> Manuaal
                        </label>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-md-3">
                    <label>Mis on teie auto kütuse liik?</label>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-primary" for="id_fuel">
                            <input type="radio" name="options" id="id_fuel" autocomplete="off"> Elekter
                        </label>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-md-3">
                    <label for="mark">Siia saate panna pilte oma autost</label>
                    <input type="file" id="id_pic" class="form-control-file">
                </div>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-success mb-2">Sisesta kuulutus</button>
            </div>
            <br>
        </form>
        {% endif %}
    </div>
</div>
{% endblock content %}