{% extends 'mainapp/base.html' %}
{% block content %}
<div class="bg-light">
    <div class="container">
        <h1>Parim koht soiduki ostmiseks</h1>
    </div>
    <form action="" method="get">
        <div class="row form-group pb-4">
            {% csrf_token %}
            <div class="col-md-2 pl-5">
                <input type="text" class="form-control" placeholder="vali mark">
            </div>
            <div class="col-md-2 ">
                <input type="text" class="form-control" placeholder="vali mudel">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="aasta alates">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="käigukast">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="kütus">
            </div>
            <div class="col-md-2">
                <input class="btn btn-primary" type="submit" value="Otsi">
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="container">
        <div class="d-inline-block col-md-2 bg-success">
            <img src="" alt="">
            <p>.</p>
            <p>BMW car</p>
        </div>
        <div class="d-inline-block col-md-2 bg-success">
            <img src="" alt="">
            <p>.</p>
            <p>BMW car</p>
        </div>
        <div class="d-inline-block col-md-2 bg-success">
            <img src="" alt="">
            <p>.</p>
            <p>BMW car</p>
        </div>
    </div>
</div>
{% endblock content %}