{% extends 'mainapp/base.html' %}
{% block title %}Kontaktandmed - Auto25, suurim valik uusi ja kasutatud sõidukeid Eestis{% endblock %}
{% block description %}Auto25 kontaktandmed, aadress, telefon, epost, asukoht kaardil{% endblock %}
{% block keywords %}kontakt, autod, kuulutused, mark, mudel, ferrari, bmw, audi, lada, kaart, aadress, telefon, epost{% endblock %}
{% block navbar %}
{% include 'mainapp/partials/normal_navbar.html' %}
{% endblock navbar %}
{% block content %}
<div class="container" itemscope itemtype="http://schema.org/ContactPage">
	<br>
    <div class="row">
        <div class="col">
            <div id="googleMap">
                <script>myMap()</script>
            </div>
        </div>
        <div class="col">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">AUTO 25</h5>
                    <p class="card-text">J.Liivi 2, Tartu</p>
                    <p class="card-text">Tel: +372 5555 2525</p>
                    <p class="card-text">E-mail: auto25@auto25.ee</p>
                    <br>
                    <button onclick="hideMap()" class="btn btn-success mb-2" id="peidaNupp">Peida kaart</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h5>AJAX Võte:</h5>
    <p>Kuvab XML failis asuvate autode margi ja mudeli</p>
    <button id="ajaxvote" class="btn mb-2" onclick="loadDoc()">Kuva autod</button>
    <table id="autod"></table>
    <br>
    <div class="xmlkoosvote" xmlns="http://www.w3.org/1999/xhtml">
        <h5>XML Kooskasutus (MathML ja SVG): </h5>
        <p>MathML avaldis 
        <math xmlns="http://www.w3.org/1998/Math/MathML">
            <mrow>
                <mi>y</mi>
                <mo>=</mo>
                <mrfac>
                    <mn>1</mn>
                    <msqrt>
                        <mrow>
                            <msup>
                                <mi>x</mi>
                                <mn>2</mn>
                            </msup>
                            <mo>+</mo>
                            <mn>1</mn>
                        </mrow>
                    </msqrt>
                </mrfac>
            </mrow>
        </math>
        paragraafi sees. </p>
        <p>SVG:</p>
        <svg className="svgvote" xmlns="http://www.w3.org/2000/svg">
            <rect x="50" y="20" width="150" height="50" style="fill:green;stroke:black;stroke-width:5;opacity:0.5" />
            Teie brauser ei toeta inline SVG-d. 
        </svg>
    </div>
</div>
{% endblock content %}