{% extends 'mainapp/base.html' %}
{% block title %}Logi sisse - Auto25, suurim valik uusi ja kasutatud sõidukeid Eestis{% endblock %}
{% block description %}Logi sisse või registreeri kasutajaks Google, Facebook või Github kaudu{% endblock %}
{% block keywords %}logi sisse, google, facebook, github, autod, kuulutused, mark, mudel, ferrari, bmw, audi, lada{% endblock %}
{% block navbar %}
{% include 'mainapp/partials/normal_navbar.html' %}
{% endblock navbar %}
{% block content %}

<div class="container">
    <h2 class="text-center">Vali, kuidas soovid sisse logida:</h2><br>
    <div class="container text-center">
        <div class="row text-white">
            <div class="col-sm">
                <a class="btn btn-primary btn-lg" href="/accounts/google/login/?process=login"><i class="fab fa-google"></i>
                    Google</a>
            </div>
            <div class="col-sm">
                <a class="btn btn-primary btn-lg" href="/accounts/facebook/login/?process=login"><i class="fab fa-facebook-square"></i>
                    Facebook</a>
            </div>
            <div class="col-sm">
                <a class="btn btn-primary btn-lg" href="/accounts/github/login/?process=login"><i class="fab fa-github-square"></i>
                    Github</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}