{% extends 'mainapp/base.html' %}
{% block title %}Uued sõidukid - Auto25, suurim valik uusi ja kasutatud sõidukeid Eestis{% endblock %}
{% block description %}Värskelt lisatud uusimad sõidukid - kõik ühes kohas{% endblock %}
{% block keywords %}uued autod, uudised, foorum, autod, mark, mudel, ferrari, bmw, audi, lada{% endblock %}
{% block navbar %}
{% include 'mainapp/partials/normal_navbar.html' %}
{% endblock navbar %}
{% block content %}
<div class="container">
  <br>
</div>
{% endblock content %}


  <!-- {% for ad in car_ads %}
  <div class="card mb-5">
    <img class="card-img-top" src="//placehold.it/200" alt="Card image cap">
    <div class="card-block p-3">
      <h4 class="card-title">{{ ad.brand }} | {{ad.year}} </h4>
    </div>
  </div>
  {% endfor %} -->