{% extends 'mainapp/base.html' %}
{% block title %}Uued sõidukid - Auto25, suurim valik uusi ja kasutatud sõidukeid Eestis{% endblock %}
{% block description %}Värskelt lisatud uusimad sõidukid - kõik ühes kohas{% endblock %}
{% block keywords %}uued autod, uudised, foorum, autod, mark, mudel, ferrari, bmw, audi, lada{% endblock %}
{% block navbar %}
{% include 'mainapp/partials/normal_navbar.html' %}
{% endblock navbar %}
{% block content %}

<div class="container">
    {% for ad in car_ads %}
    <div class="card mb-5" itemscope itemtype="http://schema.org/NewsArticle">
      <div class="row no-gutters">
          <div class="col-auto">
              <img  src="{{ ad.pic.url }}" width="200" alt="Card image cap">
          </div>
          <div class="col">
              <div class="card-block p-3">
                  <h4 class="card-title">{{ ad.brand }}  </h4>
                  <p class="card-text"> hind: {{ad.price}}</p>
                  <p class="card-text"> aasta: {{ad.year}}</p>

                  <a href="#" class="btn btn-primary">Vaata lähemalt</a>
              </div>
          </div>
      </div>
  </div>
    {% endfor %}
  <br>
</div>
{% endblock content %}

