{% extends 'mainapp/base.html' %}
{% block title %}Uued autod{% endblock %}
{% block description %}Auto25 portaali uued autod{% endblock %}
{% block navbar %}
{% include 'mainapp/partials/normal_navbar.html' %}
{% endblock navbar %}
{% block content %}
<div class="container">
  <br>
  {% for ad in car_ads %}
  <div class="card mb-5">
    <img class="card-img-top" src="//placehold.it/200" alt="Card image cap">
    <div class="card-block p-3">
      <h4 class="card-title">{{ ad.brand }} | {{ad.year}} </h4>
    </div>
  </div>
</div>
</div>
{% endfor %}
{% endblock content %}