{% load i18n %}
{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="{% url 'index' %}">Auto 25</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item{% if nbar == 'uued' %} active{% endif %}">
                <a class="nav-link" href="{% url 'uued' %}">{% trans "Uued soidukid" %}</a>
            </li>
            <li class="nav-item{% if nbar == 'uudised' %} active{% endif %}">
                <a class="nav-link" href="{% url 'uudised' %}">{% trans "Uudised" %}</a>
            </li>
            <li class="nav-item{% if nbar == 'foorumid' %} active{% endif %}">
                <a class="nav-link" href="{% url 'foorumid' %}">{% trans "Foorumid" %}</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item{% if nbar == 'add_post' %} active{% endif %}">
                <a class="nav-link" href="{% url 'add_post' %}">{% trans "Lisa kuulutus" %}</a>
            </li>
            <li>
                <a class="nav-link" href="admin">Admin</a>
            </li>
            {% endif %}
            </li>
        </ul>


        {% if user.is_authenticated %}
        <div class="dropdown nav-link pr-0">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                {{ user }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#"><i class="fas fa-cog color text-dark"></i><span>Seaded</span></a>
                <a class="dropdown-item" href="{% url 'account_logout' %}"><i
                        class="fas fa-sign-out-alt text-dark"></i><span>Logi välja</span></a>
            </div>
        </div>
        {% else %}
        <a class="btn btn-primary my-sm-1" href="{% url 'login' %}">{% trans "Logi sisse" %}</a>
        {% endif %}

        <div class="dropdown nav-link navbar-right">
            <button class="btn btn-outline-light dropdown-toggle" type="button" data-toggle="dropdown">
                Keel
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/language/est"><img class="flag"
                                                                   src="{% static 'img/estflag.png' %}"><span>Eesti</span></a>
                <a class="dropdown-item" href="/language/eng"><img class="flag"
                                                                   src="{% static 'img/usflag.png' %}"><span>Inglise</span></a>
            </div>
        </div>
    </div>
</nav>