.navbar a {
    color: white !important;
    font-weight: bold;
}

@media (max-width: 576px) {
    .navbar {
        background: #343a40;
    }
}

.navbar-light .navbar-toggler {
    background: white;
}

.nav-link {
    font-size: 1.25em;
    margin-right: 0.25em;
}

.navbar-right {
    margin-right: 3em;
}

.navbar-brand {
    padding-bottom: 0px;
    padding-top: 5px;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-size: 2.2em;
    margin-right: 1.5em;
}

.navbar-light {
    background-color: #00000033;
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}

.flag {
    max-height: 2em;
}

.dropdown-item a {
    color: black;
}

.dropdown-item span {
    margin-left: 1em;
    font-weight: normal;
    color: black;

}

.intro-header {
    text-align: center;
    color: #f8f8f8;
    background: url('/static/img/headerSmall.jpg');
    background-size: cover;
    background-position: 0% 30%;
}

@media (min-width: 1080px) {
    .intro-header {
      background-image: url('/static/img/header.jpg');
    }
  }

.intro-message {
    position: relative;
    padding-top: 17%;
    padding-bottom: 17%;
}

.intro-h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 4em;
    font-weight: 700;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.index-search {
    padding: 2em 3em 2em 3em;
    background-color: #00000055;
}

.filter .form-control {
    font-size: 80%;
}

.mainsearch {
    border-radius: 7px 0px 0px 7px;
}

.nopadding {
    padding: 0px;
}

.search-title {
    display: block;
}

.searchbutton {
    width: 100%;
    border-radius: 0px;
}

.additionalbutton {
    margin-top: 1em;
    border-radius: 0px;
}

.new-thread {
    display: none;
}

.forum-thread {
    font-weight: bold;
    font-size: medium;
    background-color: #E8E8E8;
}

.maxwidth {
    width: 100%;
}

#googleMap {
    width: 100%;
    height: 100%;
    min-width: 200px;
    min-height: 200px;
}

.primarycolor {
    color: #007bff;
}

.recent-cars {
    border-top: 2px solid #007bff;
    margin-bottom: 2em;
    background-color: #F8F8F8;
    border-radius: 0 0 0.5em 0.5em;
}
.recent-cars .card {
    margin-top: 1em;
    width: 90%;
    border: none;
}

.recent-cars .card-img-top {
    width:auto;
    max-height:150px;
}
